# these libs are requested to build common python libs 
# if you are an advance user and are sure to not use them you can comment the following lines
wheel
Cython
pybind11
pre-commit

# uncomment if you want to run your module with GEE in SEPAL
# this commit removes the dependency on ipywidgets js.
git+https://github.com/12rambau/sepal_ui.git@5277a82db3fe4e5bb971eb6676b28d9652b90564


# custom libs
ipyvuetify==1.8.1
ipywidgets==7.6.5